
  <mat-toolbar color="primary" class="custom-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     
    </button>
    <span>Welcome to<span class="text-sucess"> Notes</span></span>
    
    
  </mat-toolbar>


      <!-- HTML File -->
      <div class="hero-section">
        <div class="hero-image-container">
          <img src="assets/image1.jpg" alt="Welcome Image" class="hero-image">
          <div class="hero-text">
            <h1>Welcome to <span class="highlight-text">Notes</span></h1>
            <div class="button-container">
              <button class="btn btn-submit mx-1" routerLink="/notesform">Add New Task</button>
              <button class="btn btn-submit mx-1" routerLink="/note-list">Save Notes</button>
            </div>
          </div>
        </div>
      </div>
      
