<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-content">
      <h1 class="navbar-title">Insert Your Notes Data</h1>
    </div>
  </div>
</nav>

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
  <div class="row w-100">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h2 class="card-title text-center">Notes Form</h2>
          <form [formGroup]="notesForm">
            <div class="form-group row mb-3">
              <label for="category" class="col-sm-3 col-form-label form-label">Category: <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                <select class="form-select" id="category" formControlName="category" placeholder="Select category" required [ngClass]="{'is-invalid': notesForm.controls['category'].errors && ckDep }">
                  <option *ngFor="let note of notesdatas" [value]="note.category">
                    {{ note.category }}
                  </option>
                </select>
                <small *ngIf="notesForm.controls['category'].errors && ckDep" class="text-danger">Enter Your Category</small>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="title" class="col-sm-3 col-form-label form-label">Title <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                <input type="text" id="title" class="form-control" formControlName="title" [ngClass]="{'is-invalid': notesForm.controls['title'].errors && ckDep }" required>
                <small *ngIf="notesForm.controls['title'].errors && ckDep" class="text-danger">Enter Your Title</small>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="content" class="col-sm-3 col-form-label form-label">Content <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                <textarea id="content" class="form-control" formControlName="content" [ngClass]="{'is-invalid': notesForm.controls['content'].errors && ckDep }" required></textarea>
                <small *ngIf="notesForm.controls['content'].errors && ckDep" class="text-danger">Enter Your Content</small>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="date" class="col-sm-3 col-form-label form-label">Date <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                <input type="date" id="date" class="form-control" formControlName="date" [ngClass]="{'is-invalid': notesForm.controls['date'].errors && ckDep }" required>
                <small *ngIf="notesForm.controls['date'].errors && ckDep" class="text-danger">Enter Your Date</small>
              </div>
            </div>
            <div class="text-left mb-3">
              <button *ngIf="!data" class="btn btn-submit mx-2" (click)="AddNotes()">Submit</button>
              <button *ngIf="data" class="btn btn-submit mx-1" (click)="updatenotes()">Update</button>
              <button class="btn btn-cancel mx-1" (click)="cancel()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
